[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Android Library - Customizable compact calendar view
[access "refs/*"]
	owner = group user/Saravanan.S (saran2somu)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Saravanan.S (saran2somu)
	label-Verified = -1..+1 group user/Saravanan.S (saran2somu)
	push = group user/Saravanan.S (saran2somu)
	read = group user/Saravanan.S (saran2somu)
	rebase = group user/Saravanan.S (saran2somu)
	removeReviewer = group user/Saravanan.S (saran2somu)
	submit = group user/Saravanan.S (saran2somu)
[access "refs/heads/*"]
	create = group user/Saravanan.S (saran2somu)
	push = +force group user/Saravanan.S (saran2somu)
	pushMerge = group user/Saravanan.S (saran2somu)
	read = group user/Saravanan.S (saran2somu)
[access "refs/tags/*"]
	push = group user/Saravanan.S (saran2somu)
	push = +force group user/Saravanan.S (saran2somu)
